
<!DOCTYPE html>
<html>
	<head>
		<title>Blog App</title>
		<link rel="stylesheet" type="text/css" href="SEMANTIC-UI CDN LINK">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>
	<body>
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<div class="header item"><i class="code icon"></i>Blog Site</div>
				<a href="/" class="item">Home</a>
				<a href="/blogs/new" class="item">New Post</a>
			</div>
		</div>
		<p>From the header file.</p>
